* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center-bot {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.center-bot-img {
  width: 80%;
}
.admin-img-login {
  width: 80%;
}

.admin-form-con {
  display: flex;
  justify-content: center;
}

.admin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.admin-form-username,
.admin-form-password,
.admin-form-btn {
  width: 100%;
}

.admin-form-username,
.admin-form-password {
  border: 1px solid #cee0e0;
  border-radius: 10px;
  padding: 10px;
}

.admin-form-password {
  margin-top: 10px;
}

.admin-form-btn {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #cee0e0;
}

.crt-account-txt {
  margin-top: 10px;
}

.crt-account-txt-atag {
  border-bottom: 2px solid #cee0e0;
}

.crt-account-txt-atag:hover {
  cursor: pointer;
}

@media only screen and (min-width: 740px) {
  .admin-img-login-con {
    display: flex;
    justify-content: center;
  }
  .admin-img-login {
    width: 50%;
  }

  .center-bot-img {
    width: 40%;
  }

  .admin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
  }
}
@media only screen and (min-width: 1024px) {
  .admin-img-login-con {
    display: flex;
    justify-content: center;
  }
  .admin-img-login {
    width: 25%;
  }

  .admin-form {
    width: 33%;
  }

  .center-bot-img {
    width: 25%;
  }
}
