* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.bot-container {
  height: 100px;
  width: 100px;
  border: 1px solid red;
}
